<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Ares分数系统 后台</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <style>
    .body 
    </style>
  </head>
  <body style="padding:50px">
  {% csrf_token  %}
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#home" data-toggle="tab">主页</a>
      </li>
      <li><a href="#small" data-toggle="tab">小号关联</a></li>
      <li><a href="#epgp" data-toggle="tab">EPGP操作</a></li>
      <li><a href="#loot" data-toggle="tab">拾取上传</a></li>
      <li><a href="#down" data-toggle="tab">数据下载</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="home" style="padding-top:40px">
        <label for="basic-url">需要提交的WCL地址</label>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">https://cn.classic.warcraftlogs.com/reports/</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width:200px">
          &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" id="submit_report">提交分析</button>
        </div>
        </br>
        <div class="progress" style="display:none;width:700px">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
            数据分析中
          </div>
        </div> 

        <div id="load_report">
               
        </div><img src="/static/loading.jpg" width="50" height="50" class="loading" style="display:none"></img>
      </div>
      <div class="tab-pane fade" id="small">
        <p>to be do</p>
      </div>
      <div class="tab-pane fade" id="epgp">
        <button class="btn btn-primary" id="submit_epgp" style="margin-left:100px;margin-top:40px">衰减EPGP</button>
      </div>

      <div class="tab-pane fade" id="loot">
        <form action="/do_loot/" method="post" enctype="multipart/form-data" >{% csrf_token %}
       {{ obj.file }}
        <input type="submit" value="上传">
        </form>
      </div>

      <div class="tab-pane fade" id="down">
        <a href="/down_epgp/"><button class="btn btn-primary" id="submit_epgp" style="margin-left:100px;margin-top:40px">下载EPGP数据</button></a>

        <a href="/down_epgp/"><button class="btn btn-primary" id="submit_epgp" style="margin-left:100px;margin-top:40px">下载DKP数据</button></a></br></br></br>

        下载下来的文件放在<div style="color:red;display:inline">_classic_\WTF\Account\你的账号\SavedVariables</div>下覆盖原文件。</br>
        EPGP文件名：<div style="color:red;display:inline">AirjEPGP.lua</div></br>
        DKP文件名：<div style="color:red;display:inline">WebDKP.lua</div>
      </div>
    </div>
  </body>
<script>
function report_ajax(){
  $.post("/ajax/do_report/",
    {
      url:$("#basic-url").val(),'csrfmiddlewaretoken': csrf
    },function(data,status){
      if(data == "ERROR"){
        alert("输入错误");
        clearInterval(interval);
        }
      else{
        alert("分析完成");
        clearInterval(interval);
        }
      
    }
    );
}
var do_status
function report_status_ajax(){
  $.post("/ajax/do_status_report/",
    {
      'csrfmiddlewaretoken': csrf
    },function(data,status){
      var array = eval(data)
      $(".progress-bar").attr("style","width:"+ array[0] +"%")
      if (array[1] != do_status){
        do_status = array[1]
        $("#load_report").append("</br>"+array[1]);
      }
    }
    );
}
$(document).ready(function(){
  csrf = $('input[name="csrfmiddlewaretoken"]').val();
  $("#submit_report").click(function(){
    if($("#basic-url").val()){    
      $(".loading").show();
      $(".progress").show();
      interval = setInterval(report_status_ajax, 3000);
      report_ajax()
    }else{
      alert("请输入wcl地址")
    }
  });

  $("#submit_epgp").click(function(){    
    $.post("/ajax/do_epgp/",
    {
      url:$("#basic-url").val(),'csrfmiddlewaretoken': csrf
    },function(data,status){
      alert("done")
    }
    );
  });

});
</script>
</html>