{% load static %}
<!DOCTYPE html>
<html lang="zh-hans" >
<head>
<title>登录 |Ares后台管理点管理员</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" login" data-admin-utc-offset="28800">
<!-- Container -->
<div id="container">    
<!-- Header -->
<div id="header">
<div id="branding">       
<h1 id="site-name">Ares后台管理</h1>
</div>                
</div>
<!-- END Header -->
<!-- Content -->
<div id="content" class="colM">
<div id="content-main">
<form action="/manage/login/" method="post" id="login-form">
{% if message %}
<div class="alert alert-warning">{{ message }}</div>
{% endif %}
{% csrf_token %}
<div class="form-row">
{{ login_form.username.label_tag }}
{{ login_form.username}}
</div>
<div class="form-row">
{{ login_form.password.label_tag }}
{{ login_form.password}}
</div>
<div class="submit-row">
  <label>&nbsp;</label><input type="submit" value="登录">
</div>
</form>
</div>    
<br class="clear">
</div>
<!-- END Content -->
<div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
